.header {

    &__container{
        padding: 22px 24px;
        box-sizing: border-box;
        max-width: 1440px;
        margin: 0 auto;
    }
    &__logo {
        width: 90px;
    }
    &__btns-one {
        margin-left: 100px;
        border: 1px solid rgb(80, 89, 103);
        padding: 10px 17px;
        box-sizing: border-box;
        border-radius: 12px;
    }
    a {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.1px;
        text-align: center;
    }
    &__btns-two {
        padding: 10px 17px;
        box-sizing: border-box;
        border-radius: 12px;
        background: rgb(56, 62, 71);
        color: white;
        margin-left: 10px;
    }
}

.container {
    margin: 0 auto;
}

.hero {
    padding-top: 120px;
}

body {
    overflow-x: hidden
}

p, a {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.4px;
}

.hero {
    &__title {
        font-family: 'Roboto';
        font-size: 70px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 1px;
        text-align: center;
    }
    &__text{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.4px;
        text-align: center;
        padding-top: 17px;
    }
    &-container {
        padding: 0 471px;
        margin-top: 31px;
    }
    &__btn-one {
        padding: 13px 16px;
        box-sizing: border-box;
        border-radius: 12px;
        background: rgb(56, 62, 71);
        margin-left: 10px;
        color: white;
    }

    &__btn-two {
        padding: 13px 16px;
        box-sizing: border-box;
        border-radius: 12px;
        border: 1px solid rgb(80, 89, 103);
    }

    margin-bottom: 488px;
}

.partners-container {
    padding: 0 321px;
    margin-top: 30px;
    margin-bottom: 182px;
}

.container {
    padding: 0 46px;
}

.fastest {
    &__title {
        color: rgb(49, 55, 61);
        font-family: Roboto;
        font-size: 47px;
        font-weight: 400;
        line-height: 50.4px;
        letter-spacing: 0.5px;
        text-align: center;
    }
    &__text {
        color: rgb(85, 94, 103);
        margin-top: 13px;
        font-size: 16px;
        margin-bottom: 58px;
    }
    
    .col {
        box-sizing: border-box;
        border: 1px solid rgba(233, 234, 237, 0.6);
        border-radius: 20px;
        background: rgb(255, 255, 255);
        padding: 41px 41px 62px 41px;
    }

    p {
        margin: 20px 0;
    }
    .row {
        padding: 0 24px;
        gap: 40px;
        margin-bottom: 90px;
    }

    &__col-text {
        color: rgb(114, 123, 132);
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.1px;
    }
    &__col-text-two {
        color: rgb(153, 162, 175);
        font-family: 'Inter';
        font-size: 15px;
        font-weight: 400;
        line-height: 22.08px;
        letter-spacing: 0.3px;
    }
}